#app {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  font-size: 16px;
  padding: 2rem 1rem;
}

#title {
  color: #f0f0f0;
}

.calculator-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.grid-button {
  flex-grow: 1;
  margin: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.button-command {
  height: 2rem;
  width: 2rem;
  color: #f0f0f0;
  background-color: #167bff;
}

.button-command-alt {
  height: 2.45rem;
  width: 2.45rem;
  color: #f0f0f0;
  background-color: #167bff;
}

.button-number {
  height: 2rem;
  width: 2rem;
  color: #167bff;
  background-color: #f0f0f0;
}

.display-area {
  color: #232425;
  background-color: #f0f0f0;
  margin: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: right;
  padding-right: 0.5rem;
  overflow: hidden scroll;
}
